<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/commande"
        *ngIf="!commandeToEdit"
      ></ion-back-button>
      <ion-back-button
        defaultHref="/commande/all-commande"
        *ngIf="commandeToEdit"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">{{'nouvelle_commande.title' | translate}}</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button
        size="small"
        shape="round"
         (click)="initData()"
        color="medium"
        tappable
      >
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button
        size="small"
        shape="round"
        *ngIf="
              !commandeToEdit ||
              (commandeToEdit && commandeToEdit.etatc.code !== 200)
            "
        (click)="saveCommande()"
        color="medium"
        [disabled]="!commandeForm.valid"
        tappable
      >
        <ion-icon name="save"></ion-icon>
      </ion-button>
      <ion-button
        size="small"
        shape="round"
        (click)="moreOption($event)"
        color="medium"
        *ngIf="code  && commandeToEdit  && commandeToEdit.etatc.code !== 200" tappable>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--  <ion-spinner name="circles"></ion-spinner> -->
  <form [formGroup]="commandeForm" class="list-form">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-item>
            <ion-label>{{'nouvelle_commande.client' | translate}}</ion-label>
            <ionic-selectable
              formControlName="client"
              [(ngModel)]="client"
              [items]="clients"
              itemValueField="id"
              itemTextField="nom"
              [canSearch]="true"
              [disabled]="!commandeToEdit ||
              (commandeToEdit && commandeToEdit.etatc.code !== 200)"
              (onChange)="portChange($event)"
            >
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6">
          <ion-item no-padding class="animated fadeInUp">
            <ion-label stacked>
              {{'nouvelle_commande.livraison' | translate}}
            </ion-label>
            <ion-datetime
              color="secondary"
              value="{{ date_livraison }}"
              min="2016"
              max="{{ year + 1 }}-12-31"
              [(ngModel)]="date_livraison"
              display-format="DD/MM/YYYY"
              formControlName="date_livraison"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-item no-padding class="animated fadeInUp">
            <ion-label stacked>
              {{'nouvelle_commande.total' | translate}} :
              <ion-badge color="primary">{{ Total | number }}</ion-badge>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" *ngFor="let art of shop; let i = index">
        <ion-item>
          <ion-label class="no-margin-bottom" floating>
            <ion-text color="dark" class="fw500">{{ art.nom }}</ion-text>
            <p>
              <ion-note>{{ art.code }}-{{ art.prix | number }} </ion-note>
            </p>
          </ion-label>
          <ion-input
            type="number"
            (ionChange)="updateProduct()"
            [(ngModel)]="art.quantite"
            slot="end"
            placeholder="Qte"
          ></ion-input>
          <ion-icon
            *ngIf="
              !commandeToEdit ||
              (commandeToEdit && commandeToEdit.etatc.code !== 200)
            "
            name="trash"
            (click)="deleteProduct(art,i)"
            color="danger"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf='signature'>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <img [src]="signature"/>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer
  *ngIf="
    !commandeToEdit || (commandeToEdit && commandeToEdit.etatc.code !== 200)
  "
>
  <popmenu-commande [commande]="commandeToEdit"></popmenu-commande>
</ion-footer>
