<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-results"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">{{'home_incident.title' | translate}}</ion-text>
          </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-row>
          <ion-col size-xs="12" size-sm="6" *ngIf="code && (code.includes(100) ||code.includes(102) || code.includes(101) || code.includes(104))">
          <ion-card class="quick-action" class="tile" (click)="navigateToAdd()">
            <ion-card-content>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
              <span> {{'home_incident.new_incident' | translate}}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" *ngIf="code && (code.includes(100) || code.includes(101) || code.includes(104))">
          <ion-card class="quick-action" class="tile" (click)="navigateToTraitement()">
            <ion-card-content>
              <ion-icon name="bug" color="primary"></ion-icon>
              <span> {{'home_incident.traiter_incident' | translate}}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" *ngIf="code && (code.includes(103) ||code.includes(102) || code.includes(101) || code.includes(104))">
          <ion-card class="quick-action" class="tile" (click)="navigateToValidation()">
            <ion-card-content>
              <ion-icon name="checkmark" color="primary"></ion-icon>
              <span> {{'home_incident.fermer_incident' | translate}}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" *ngIf="code && (code.includes(101) || code.includes(102) || code.includes(104))">
          <ion-card class="quick-action" class="tile" (click)="navigateToHistorique()">
            <ion-card-content>
              <ion-icon name="filing" color="primary"></ion-icon>
              <span> {{'home_incident.historique_incident' | translate}}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        </ion-row>
  </ion-content>
    
  