<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700"
          >{{'voir_commande.title' | translate}} {{ commande.id }}</ion-text
        >
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-xs="12" size-sm="6">
            <ion-item>
              <ion-label class="no-margin-bottom" floating>
                <ion-text color="dark" class="fw500"
                  >{{ commande.client.nom }}</ion-text>
               
              </ion-label>
            </ion-item>
          </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-item>
          <ion-label class="no-margin-bottom" floating>
            <ion-text color="dark" class="fw500"
              >{{'voir_commande.date_commande' | translate}} :
              {{ commande.datecc }}</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-item>
          <ion-label class="no-margin-bottom" floating>
            <ion-text color="dark" class="fw500"
              >{{'voir_commande.date_livraison' | translate}} : {{ commande.dateliv }}</ion-text
            >
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-item>
          <ion-label class="no-margin-bottom" floating>
            <ion-text color="dark" class="fw500">
              {{'voir_commande.etat' | translate}} : 
              <ion-badge *ngIf="commande.etatc.id == 1" color="danger">
                Encours</ion-badge
              >
              <ion-badge *ngIf="commande.etatc.id == 2" color="primary">
                Attente Validation</ion-badge
              >
              <ion-badge *ngIf="commande.etatc.id == 3" color="warning">
                Attente livraison</ion-badge
              >
              <ion-badge *ngIf="commande.etatc.id == 4" color="success">
                Livré</ion-badge
              >
              <ion-badge *ngIf="commande.etatc.id == 5" color="secondary">
                Encours de livraison</ion-badge
              >
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-item>
          <ion-label class="no-margin-bottom" floating>
            <ion-text color="dark" class="fw500"
              >Total :
              <ion-badge color="dark"> {{ commande.prixtotal | number }} </ion-badge>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-xs="12" size-sm="6" *ngFor="let cmd of commande.tcommandesList ">
            <ion-item>
              <ion-label class="no-margin-bottom" floating>
                <ion-text color="dark" class="fw500">
                  {{cmd.article.nom}}
                </ion-text>
                <p> <ion-note>{{cmd.article.code}}</ion-note></p>
                <p><ion-note>Qte : <strong color="dark">{{cmd.quantite}}</strong>, P.U : {{cmd.prix | number}}, Total : {{cmd.prixTotal | number}} </ion-note></p>
              </ion-label>
            </ion-item>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
